*{
  background-color: lightgrey;
}


.islem{
  text-decoration: line-through;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
  
}
.nn{
  display: flex; 
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border-style: solid;
  margin-bottom: 15px;
  margin-top: 18px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius : 23px;
 
}
.aa{

  margin-left: 972px; 
  border-radius : 13px;
  width: 58px;
    height: 40px;
   

 
}
.zz{
  display: flex; 
  justify-content: center;
  border-radius: 16px;
  
  

}

.bb{
  border-radius : 13px;
  width: 58px;
    height: 40px;
    
}
.ee{
   display: flex;  
  justify-content: center;
  background-color: black;
  justify-content: space-around;
   /* margin-left: 10px;  */
    /* margin-right: 10px;  */
  border-radius : 23px;
  height: 50px;
  margin-top: 5px;
}
.tt{
  border-radius : 10px;
  width: 69px;
  height: 36px;
  background-color: aliceblue;
  margin-top: 8px;
  margin-left: 20px;
}
.hh{
  border-style: solid;
  width: 100px;
  height: 36px;
  margin-left: 10px;
  border-radius: 16px;
  
}
.ss{
  border-radius : 13px;
  width: 58px;
    height: 40px;
    

}.jj{
  
  border-radius: 16px;
  
}
.pp{
  border-radius : 10px;
  width: 69px;
  height: 36px;
  background-color: aliceblue;
  margin-top: 8px;

}
.vv{
  border-radius : 10px;
  width: 69px;
  height: 36px;
  background-color: aliceblue;
  margin-top: 8px;
}

